# npm
node_modules/
package-lock.json

# minetrack
minetrack.log

# minetrack/sqlite3
database.sql
database.sql-journal

# macOS
.DS_Store

# parcel
dist/
.parcel-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
